.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;

  box-shadow: 0 15px 25px rgba($black, 0.45);
  background-color: $secondary;
  border-radius: 5px;

  @include breakpoint($mobile-bp){
    padding: 1.5rem;
  }
}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__textarea {
  font-family: inherit;
  flex-grow: 1;
  font-size: 1.5rem;
  color: $white;
  width: 81%;
  height: 26px;
  overflow: hidden;

  border: none;
  background: transparent;
  resize: none;

  &::placeholder {
    color: #d2d2d2;
  }
}

.add-post__form-actions {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  flex-shrink: 0;

  @include breakpoint($mobile-bp){
    width: 9rem;
  }
}

.add-post__file,
.add-post__send {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: background-color .2s linear;

  @include breakpoint($mobile-bp){
    width: 3.4rem;
    height: 3.4rem;
    
  }
}

.add-post__file {
  background: #ebebeb url('../images/add-photo.svg') center no-repeat;

  &:hover {
    background-color: darken(#ebebeb, 5%);
  }
  input {
    display: none;
  }

  @include breakpoint($mobile-bp){
    background-size: 18px;
  }
}

.add-post__send {

  font-size: 0;
  color: transparent;
  background: $blue url('../images/send.svg') center no-repeat;

  &:hover {
    background-color: darken($blue, 5%);
  }

  @include breakpoint($mobile-bp){
    background-size: 15px;
  }
}


