.container {
  max-width: 70rem;
  margin: 0 auto;
  padding-right: 5rem;
  padding-left: 5rem;

  @include breakpoint($mobile-bp) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  
}
