.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.tags__item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: $white;
  border-radius: 3px;
  font-size: 1.1rem;
  background-color: #ea8c1e;
  padding: .4rem .9rem;
  text-align: center;
  line-height: 1.3;
}
